body {
    background-color: gray;
}

#main {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}

.container {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.card {
    background-color: #fff;
    width: 95px;
    height: 150px;
    border-radius: 9px;
    border: 2px solid green;
    margin: 5px;
    position: relative;
}

.card-symbol {
    position: absolute;
    font-size: 64px;
    top: 70%;
    left: 50%;
  
    transform: translate(-50%, -50%);
}

.red {
    color: red;
}

.value {
    position: absolute;
    font-size: 42px;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.bg-lightblue {
    background-color: aquamarine;
}

.bg-gray {
    background-color: burlywood;
}

#playerField,
#userField {
    background-color: coral;
}

.hide {
    display: none;
}