body {
    background-color: gray;
}

#main {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}

.container {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.symbol-item {
    width: 50%;
    font-size: 4em;
    align-self: center;
    text-align: center;
}

.card {
    background-color: #fff;
    width: 95px;
    height: 150px;
    border-radius: 9px;
    border: 2px solid green;
    margin: 5px;
    position: relative;
}

.card-symbol {
    position: absolute;
    font-size: 64px;
    top: 70%;
    left: 50%;
  
    transform: translate(-50%, -50%);
}

.clr-red {
    color: red;
}

.value {
    position: absolute;
    font-size: 42px;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.card-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.play-table {
    background-color: cornflowerblue;
    border-radius: 2em;
    border: 5px solid black;
    margin-bottom: 2rem;
}

.hit-button {
    margin-top: .5em;
    border: 2px solid black;
    border-radius: 100px;
    text-transform: uppercase; 
    padding: .5em 1.5em;
    font-weight: 900;
}

/* If screen size smaler than 700px than this kicks in */
@media (max-width: 700px) {
    .play-table {
        flex-direction: column;
    }
}